/target/
!.mvn/wrapper/maven-wrapper.jar

# Package Files #
*.jar
*.ear
*.zip
*.tar.gz
*.rar

# Compiled class file
*.class

/.metadata/
bin/
tmp/
*target/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.classpath
.project
.springBeans
.gradle

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
*.iws
*.iml
*.ipr

# Eclipse files
*.eml

# System Files
.DS_Store